<%- include('../partials/header') %>



<img src="../images/f1bb.jpeg" alt="" width="650" height="800" style="float:right">

<div id='box'>F1BB Goldendoodle (87.5% Poodle and 12.5% Golden Retriever) is a cross between an F1B Goldendoodle (75%
    Poodle, 25% Golden Retriever) and an original purebred 100% Poodle or 100% Golden Retriever. Most owners will
    typically choose to breed the F1B Goldendoodle with a 100% Standard Poodle to make the Goldendoodle even more
    hypoallergenic and non-shedding. Since this is the second Backcross with a purebred Standard Poodle, it gets a
    second “B” in its name and is referred to as an F1BB Goldendoodle.
    <br>
    <br>
    An F1BB Goldendoodle is the most hypoallergenic and non-shedding of all the first generation Goldendoodles due to a
    large amount of Poodle genetics. This means that Goldendoodle will likely come with an extremely curly coat that
    will need to be brushed every day and groomed every couple of months to prevent the fur from matting. However, this
    Goldendoodle generation is great for people with pet allergies and don’t want to have to pick up dog hair
    everywhere.
    <br>
    <br>
    Since an F1BB Goldendoodle is technically the “3rd” generation of offspring it will have less Hybrid Vigor qualities
    than the F1 Goldendoodle or F1B Goldendoodle. F1BB Goldendoodles are also regarded as Multi-generation Goldendoodles
    since they are beyond the 2nd generation of offspring.
    <br>
    <br>
    F1BB Goldendoodle Characteristics
    <br>
    Coat Type: Curly
    <br>
    Hypoallergenic: The most hypoallergenic 1st generation Goldendoodle.
    <br>
    Non-shedding: The most non-shedding 1st generation Goldendoodle.
    <br>
    Hybrid Vigor: Yes, but less so than F1 and F1B Goldendoodles because they are the 3rd generation of offspring.
</div>

<%- include('../partials/footer') %>