<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>F2BB Page</title>
</head>
<a href="/">Go Back Home</a>
<a href="/goldendoodles">Selection List</a>
<h1>F2BB you are here</h1>