<%- include('../partials/header') %>

<br>

<div class="container">
    <div class="row">

        <img src="../images/f2bb.jpeg" alt="" width="650" height="800" style="float:right">

        <div id='box'>F2BB Goldendoodle (81.25% Poodle & 18.75% Golden Retriever) is a cross between an F2B Goldendoodle
            (62.5% Poodle, 37.5% Golden Retriever) and a original purebred 100% Poodle. Since this is at least the
            second Backcross with a purebred Standard Poodle and part of the 2nd generation, it gets a second “B” in its
            name and is referred to as an F2BB Goldendoodle.
            <br>
            <br>
            An F2BB Goldendoodle is the most hypoallergenic and non-shedding of all the second generation Goldendoodles
            due to a large amount of Poodle genetics. This Goldendoodle also has the 2nd most Poodle genetics, only
            behind the F1BB Goldendoodle (87.5% Poodle & 12.5% Golden Retriever). It is extremely likely an F2BB
            Goldendoodle will have a curly coat that will need to be brushed every day and groomed every couple of
            months to prevent the fur from matting. However, this Goldendoodle generation is great for people with
            severe pet allergies and don’t want to have to pick up dog hair everywhere.
            <br>
            <br>
            The F2BB Goldendoodle generation is going to be referred to as a Multi-generation Goldendoodle since they
            are the 4th generation of offspring. Many breeders won’t use the term F2BB but will use the term
            Multi-generation Goldendoodle.
            <br>
            <br>
            F2 Goldendoodle Characteristics
            <br>
            Coat Type: Curly
            <br>
            Hypoallergenic: The most hypoallergenic 2nd generation Goldendoodle.
            <br>
            Non-shedding: The most non-shedding 2nd generation Goldendoodle.
            <br>
            Hybrid Vigor: Yes, but less so than F2 and F2B Goldendoodles because they are at least the 4th generation of
            offspring.
        </div>
    </div>
</div>

<%- include('../partials/footer') %>