<%- include('../partials/header') %>


<img src="../images/f3.jpeg" alt="" width="650" height="800" style="float:right">

<div id='box'>Typically, F3 Goldendoodles are bred with an F1B Goldendoodle and another F1B Doodle. Alternatively, you could breed an F3 Goldendoodle with an F2 Goldendoodle and another F2 Goldendoodle. F3 Goldendoodles contain a significant portion of Poodle genetics so it is great for people with pet allergies.  The F3 Goldendoodle generation coat can vary from a heavy wave to very curly which makes them very allergy-friendly. 
    <br>
    <br>
    Multi-generation Goldendoodles are used to describe any Goldendoodle beyond the 2nd generation.  This includes some of the Goldendoodle generations listed above like F1BB, F2B, and F2BB.  Many breeds will simply list Multi-generation Goldendoodle instead of listing the exact generation of Goldendoodle.  You will have to ask your breeder to specify which generation your Goldendoodle is.
    <br>
    <br>
    F2 Goldendoodle Characteristics
    <br>
    Coat Type: Generally Curly
    <br>
    Hypoallergenic: Typically, Yes
    <br>
    Non-shedding: Typically, Yes
    <br>
    Hybrid Vigor: Not a lot due to being a later generation.
</div>
