<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Goldendoodle Seclection Page</title>
</head>
<a href="/">Go Back Home</a>
<a href="/f1">F1</a>
<a href="/f1b">F1B</a>
<a href="/f1bb">F1BB</a>
<a href="/f2">F2</a>
<a href="/f2b">F2B</a>
<a href="/f2bb">F2BB</a>
<a href="/f3">F3</a>
<a href="/multigen">Multigen</a>