* {
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #424748;
}

#bg {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }


  .navbar-brand{
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
  }

  body > nav {
    grid-area: nav;
    background-color: #10a4c9;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 20px 0 30px;
  }


  .btn, .btn-primary{
    color: aliceblue;
  }

  body {
    display: inline;
    
   
   
  }

  #box {
    animation: animated-border 1.5s infinite;
    font-family: Arial;
    font-size: 15px;
    line-height: 25px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    border: 2px solid;
    border-radius: 5px;
    padding: 5px;
    width: 500px;
  }

  img {
    border: 5px solid #555;
  }

  #footer {
    bottom: -50px;
    height: 50px;
    left: 0;
    position: absolute;
    right: 0;
  }

  #gl{
    display: flex;
    flex-wrap: wrap;
	  margin-right: -15px;
    margin-left: -15px;
}

div.form
{
    display: block;
    text-align: center;
    border: 2px solid red;
    border-radius: 20px;
    
                
    
    
}
form
{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
   
}

h1 {
  text-align: center;
}