* {
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #424748;
}

#bg {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }




  #navbar {
    position: fixed;
    top: 0px;
    width: 100%;
}​

  nav {
    grid-area: nav;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 20px 0 30px;
  }

  body {
    display: inline;
    margin: 0;
    padding: 0;
 
   
   
  }

  /* index page background image */
  .home, .login, .signup {
    background-image: url("../images/paw-prints.jpeg");
    background-color: #cccccc;
    
  }


  /* border around text info in GL page */
  #box {
    animation: animated-border 1.5s infinite;
    font-family: Arial;
    font-size: 15px;
    line-height: 25px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    border: 2px solid;
    border-radius: 5px;
    padding: 5px;
    width: 500px;
    box-shadow: 5px 10px;
  }

  /* border of images */
  img {
    border: 5px solid #555;
  }

  #footer {
    bottom: -50px;
    height: 50px;
    left: 0;
    position: absolute;
    right: 0;
  }

  .card-text, .card-title{
    text-align: center;
  }