* {
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #424748;
}

#bg {
    display: block;
    margin: 0 auto;
  }


  .navbar-brand{
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
  }

  body > nav {
    grid-area: nav;
    background-color: #10a4c9;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 20px 0 30px;
  }


  .btn, .btn-primary{
    color: aliceblue;
  }