<%- include('../partials/header') %>

<body>
    <h1>Login</h1>
    <form action="/users/login" method="POST">
        Username: <input type="text" name="username" /><br />
        Password: <input type="password" name="password" /><br />
        <input type="submit" value="Login" />
    </form>
</body>

<%- include('../partials/footer') %>


</html>
