<%- include('../partials/header') %>
<br>


<body class='login'>
    
    <div class='form' action="/users/login" method="POST">
        <h1>Login</h1>
            Username: <input type="text" name="username" /><br/>
            Password: <input type="password" name="password" /><br/>
            <input type="submit" value="Login" />
        </form>
    </div>

</body>

<%- include('../partials/footer') %>