<%- include('../partials/header') %>


<body class='signup'>
    <h1>Signup</h1>
    <form action="/users/signup" method="POST">
        Username: <input type="text" name="username" /><br />
        Password: <input type="password" name="password" /><br />
        <input type="submit" value="Signup" />
    </form>
</body>


<%- include('../partials/footer') %>
</html>